:root {
    --BgColor: rgb(19, 27, 35);
    --NavColor: rgb(23, 23, 35);
    --FontColor: rgb(207, 207, 227);
    background-color: var(--NavColor);
    font-family: 'Poppins', sans-serif;
    font-family: 'Courier Prime', monospace;
    color: var(--FontColor);
}

::selection {
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
}






body {
    /* overflow-y: hidden; */
    overflow-x: hidden;
}



* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: white;
}


/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--BgColor);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(207, 207, 227, 0.382);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(207, 207, 227, 0.481);
}



/* NAV */

nav {
    background-color: var(--NavColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    position: relative;
    width: 100vw;
    height: 7.7vh;
    top: 0;
    z-index: 2;

}


.logo {
    font-family: 'Poppins', sans-serif;
    font-size: 2.5vmax;
    font-weight: 700;
    position: relative;
    left: 4vmax;
    color: var(--FontColor);
}

.navItems {
    position: relative;
    right: 4vmax;
    font-size: 1.02vmax;
}

.ham {
    display: none;
}

.hamMenu {
    display: none;
}

.hamSpan {
    display: none;
}

.contact {
    margin-left: 2.5vmax;
}

.resumee {
    margin-left: 2.5vmax;
}

.about {
    margin-left: 2.5vmax;
}


.hover {
    transition: all .15s;
}

.hover:hover {
    text-shadow: 0 0 2px #ffffffa7, 0 0 2px #ffffffa4;
    color: #ffffff;
}


.selected {
    text-shadow: 0 0 2px #ffffffa7, 0 0 2px #ffffffa4;
    color: #ffffff;
}


.dots {
    width: 70.5vw;
    height: 70vh;
    margin: auto;
    opacity: .25;
    margin-top: 5vh;
    position: absolute;
    left: 0;
    top: 25vh;
    z-index: -4;


    background-image: url(../img/dot3px.png);
    background-size: cover;
    background-position: center;

}










footer {
    border: 1vmax solid rgb(62, 58, 89);
    width: 100vw;
    height: 14vmin;
    box-shadow: 0px -4px 5px 1px rgb(132, 127, 172);
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 2vmin;
    margin-top: 40vh;
    margin-top: 17.8vh;
}

@keyframes arrow {
    from {
        right: 10vw;
        opacity: 1;
    }

    to {
        right: 2vw;
        opacity: 0;
    }
}

.arrow {
    height: 3vmax;
    position: absolute;
    right: 10vw;
    animation-name: arrow;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.hMenu {
    display: none;
}


@keyframes abtSettele {
    from {
        top: -1vh;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}















@keyframes portSettele {
    from {
        top: -1vh;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}


.portfolioDiv {
    animation-name: portSettele;
    position: relative;
    animation-duration: 1s;
    animation-fill-mode: forwards;

    width: 95vw;
    height: auto;
    margin: auto;
    margin-top: 7vmax;
    display: flex;
    flex-direction: column;
    align-items: center;
}


h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 5vmax;
    margin-top: -3.5vmax;
    font-weight: 900;
    width: 100%;
}

.projP {
    width: 100%;
    font-size: 1.2vmax;
    margin-bottom: 1.5vmax;
}

.projects {
    /* border: 2px solid whitesmoke; */
    margin: auto;
    margin-top: 2vmax;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;

}


.p {
    background-color: rgb(36, 35, 47);
    width: 30vmax;
    height: 39vmax;
    margin-bottom: 4vmax;
}


.pImg {
    width: 100%;
    height: auto;
    transition: all .15s;
}


img.git {
    filter: invert(1);
    width: 3vmax;
    transition: all .15s;
}

img.git:hover {
    transform: scale(1.1);
}


.pDis {
    margin-top: 1vmax;
}

.pHead {
    font-family: 'Poppins', sans-serif;
    font-size: 1.7vmax;
    font-weight: 400;
    text-align: center;
}

.dis {
    /* font-family: 'Poppins', sans-serif; */
    font-size: 1vmax;
    font-weight: 400;
    text-align: center;
    width: 95%;
    margin: auto;
    margin-top: 1.5vmax;
    margin-bottom: 1.5vmax;
}




.p1I {
    /* background-image: url(../img/weatherApp.png); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

















/* Media Query */

@media (min-width: 100px) and (max-width: 1100px) {


    body {
        overflow-x: hidden;
    }

    .navItems {
        display: none;
    }

    .logo {
        font-size: 4.5vmax;
        left: 2vmax;
    }







    .hamSpan {
        display: inline;
    }

    .ham {
        display: inline;
        width: 4vmax;
        position: relative;
        right: 2vmax;
        cursor: pointer;
    }

    .hMenu {
        background-color: var(--NavColor);
        display: block;
        width: 100%;
        height: 30vh;
        height: auto;
        position: absolute;
        z-index: 1;
        top: -25vmax;
        font-size: 2.4vmax;

    }

    .hMenu * {
        display: block;
        text-align: center;
        width: 40%;
        margin: auto;
        margin-top: 1.7vmax;
        margin-bottom: 1.7vmax;
    }


    @keyframes showHame {
        from {
            top: -45vmax;
        }

        to {
            top: 6.6vmax;
        }
    }

    .showHameMenu {
        animation-name: showHame;
        animation-duration: .5s;
        animation-fill-mode: forwards;
    }

    @keyframes hideHame {
        from {
            top: 6.6vmax;
        }

        to {
            top: -45vmax;
        }
    }

    .hideHameMenu {
        animation-name: hideHame;
        animation-duration: .5s;
        animation-fill-mode: forwards;
    }





    .socialIcon img {
        width: 25px;
    }





    .projP {
        font-size: 1.7vmax;
        width: 100%;
    }



    footer {
        margin-top: 40vh;
    }


    .dis {
        font-size: 1.7vmax;
    }

    .p {
        height: auto;
        width: 40vmax;
        width: 90vw;
    }

    img.git {
        filter: invert(1);
        width: 4vmax;
        transition: all .15s;
        margin-bottom: 1vmax;
    }

}



.dots2 {
    width: 70.5vw;
    height: 70vh;
    margin: auto;
    opacity: .25;
    margin-top: 65vmax;
    position: absolute;
    right: 0;
    top: 25vh;
    z-index: -4;


    background-image: url(../img/dot3px.png);
    background-size: cover;
    background-position: center;

}




.blur {
    color: rgb(36, 35, 47);
}